<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
	<Document name="ks-fhir-gen.ZPM">
		<Module>
			<Name>ks-fhir-gen</Name>
			<Version>1.0.1</Version>
			<Description>Keen Solutions FHIR data generator</Description>
			<Author>
				<Person>Robert Barbiaux</Person>
				<Organization>Keen Solutions</Organization>
				<CopyrightDate>2024</CopyrightDate>
				<License>MIT</License>
			</Author>
			<Packaging>module</Packaging>
			<SystemRequirements Version=">=2024.1" Interoperability="enabled"/>
			<SourcesRoot>src</SourcesRoot>
  		    <Resource Name="ks.fhir.PKG"/> 
			<UnitTest Name="/test/src" Package="ut.ks.fhir" Phase="test"/> 
			<Dependencies>
				<ModuleReference>
					<Name>ks-lib</Name>
					<Version>1.*.*</Version>
				</ModuleReference>
			</Dependencies>
		</Module>
	</Document>
</Export>